# Node
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Local secrets
.env
.env.local
.env.*.local
.env.*
.env*
!.env.example

# Misc
.DS_Store
*.log
